<div class="login-container animate__animated animate__fadeInDown">
  <h1 class="animate__animated animate__bounce">JIRAFITA´S GARAJE</h1>
  <img src="/logo2.png" class="logo animate__animated animate__backInLeft" />

  <div class="input-group animate__animated animate__backInLeft">
    <img src="icons8-gmail-32.png" class="icon-input" />
    <label>Correo:</label>
    <input [(ngModel)]="correo" type="email" placeholder="ejemplo@gmail.com" />
  </div>

  <div class="input-group animate__animated animate__backInLeft">
    <img src="icons8-password-48.png" class="icon-input" />
    <label>Contraseña:</label>
    <input [(ngModel)]="pass" type="password" placeholder="********" />
  </div>

  <button
    class="btn btn-primary animate__animated animate__fadeIn"
    (click)="login()"
    [disabled]="loading">
    <span *ngIf="!loading">Entrar</span>
    <img *ngIf="loading" src="loading.gif" class="login-gif" alt="Cargando..." />
    <span *ngIf="loading" class="spinner"></span>
  </button>
  <p *ngIf="error" class="error-msg">Correo o contraseña incorrectos</p>
  <br /><br />
  <div class="footer animate__animated animate__backInUp">
    <a href="#" (click)="goRegister()">Crear Cuenta</a>
  </div>
  <div class="footer animate__animated animate__backInUp">
    ¿Perdiste tu contraseña?
    <br /><a href="#" (click)="goRecover()">Recuperar contraseña</a>
  </div>
</div>
