:root {
  --bg-main: #2a2018d6;        
  --modal-bg: #F3E9D2;      
  --primary: #2F5D73;
  --secondary: #D9A441;
  --accent: #C23B2A;
  --shadow: 8px 8px 0px var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
  background-color: var(--bg-main);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-gif {
  width: 40px;
  height: 40px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--primary);
  padding: 40px 30px;
  background-color: var(--modal-bg);
  box-shadow: var(--shadow);
  position: relative;
  border-radius: 12px;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid var(--primary);
  z-index: -1;
  border-radius: 12px;
}

.form-container {
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--accent);
  padding: 40px 30px;
  background-color: var(--modal-bg);
  box-shadow: var(--shadow2);
  position: relative;
  border-radius: 12px;
}

.form-container::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid var(--accent);
  z-index: -1;
  border-radius: 12px;
}



h1 {
  color: var(--primary);
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.logo{
  display: block;
  margin: 15px auto 30px auto;
  width: 120px;
}


.input-group {
  margin-bottom: 20px;
  position: relative;
}

.icon-input{
  position: absolute;
  top: 60%;
  left: 12px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--primary);
}

input {
  width: 100%;
  padding: 12px 15px 12px 45px;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  color:#000000 !important;
  font-size: 20px;
  outline: none;
  transition: all 0.3s;
}

input:focus {
  box-shadow: 4px 4px 0px var(--primary);
}

button {
  width: 100%;
  padding: 12px;
  background-color: var(--accent);
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
}

button:hover {
  box-shadow: 4px 4px 0px var(--primary);
  transform: translate(-2px, -2px);
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;

}