<section class="services-page inventory-page">

  <!-- HEADER -->
  <div class="services-header">
    <div>
      <h2>Inventario</h2>
      <p class="subtitle">
        Control y gestión de refacciones y suministros
      </p>
    </div>

    <button class="btn-primary">
      + Agregar Producto
    </button>
  </div>

  <!-- cards principales -->
  
  <div class="inventario-stats">
    <div class="card blue">
      <div class="icon"><img src="/icons8-box-26.png" /></div>
      <p>Total de productos</p>
      
    </div>

    <div class="card red">
      <div class="icon"><img src="/icons8-danger-24.png" /></div>
      <p>Stock Bajo</p>
      
    </div>

    <div class="card green">
      <div class="icon"><img src="/icons8-$-24.png" /></div>
      <p>Valor de productos</p>
     
    </div>
  </div>
  

    <!-- tabla -->
  <h3 class="mt-4">Lista de Productos</h3>



</section>