<div class="container">
  <h3 class="sub-title">Resumen General</h3>

  <!-- KPIs -->
  <div class="stats-grid">
    <div class="stat-card">
      <div class="stat-icon"><img src="/car.png" /></div>
      <div class="stat-value">{{ totalVehiculos() }}</div>
      <div class="stat-label">Vehículos registrados</div>
    </div>
    <div class="stat-card">
      <div class="stat-icon"><img src="/icons8-wrench-24.png" /></div>
      <div class="stat-value">{{ totalServicios() }}</div>
      <div class="stat-label">Servicios completados</div>
    </div>
    <div class="stat-card green">
      <div class="stat-icon"><img src="/icons8-$-24.png" /></div>
      <div class="stat-value">${{ totalGastado() | number: '1.0-0' }}</div>
      <div class="stat-label">Total invertido</div>
    </div>
    <div class="stat-card red">
      <div class="stat-icon"><img src="/icons8-calendar-24.png" /></div>
      <div class="stat-value">{{ citasPendientes() }}</div>
      <div class="stat-label">Citas pendientes</div>
    </div>
  </div>

  <!-- GRÁFICAS -->
  <div class="charts-row">
    <div class="chart-card">
      <h4 class="chart-title">Gasto por servicio</h4>
      <apx-chart [series]="barSeries" [chart]="barChart" [xaxis]="barXAxis"> </apx-chart>
    </div>

    <div class="chart-card">
      <h4 class="chart-title">Distribución de costos</h4>
      <apx-chart [series]="pieSeries" [chart]="pieChart" [labels]="pieLabels"> </apx-chart>
    </div>
  </div>
</div>
