.blue .icon { background: #2563eb; }
.purple .icon { background: #9333ea; }
.orange .icon { background: #f97316; }
.green .icon { background: #16a34a; }

.green { color: #16a34a; }


.header {
  background: #F3E9D2;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  gap: 12px;
}

.logo .icon {
  background: #e9e9ee;
  color: white;
  width: 42px;
  height: 42px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  background-color: #456d86;
  border-radius: 10px;
  gap: 50px;
  align-items: center;
}

.tabs {
  background: #d3ad6e;
  padding: 8px 24px;
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #000000;
}

.tabs a {
  text-decoration: none;
  color: #e7e8ea;
  padding-bottom: 8px;
}

.tabs .active {
  color: #000000;
  border-bottom: 2px solid #4deb25;
}



.btn-logout {
  border: none;
  background: linear-gradient(135deg,#ef4444,#dc2626);
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
  box-shadow: 0 4px 10px rgba(239,68,68,.4);
}

.btn-logout:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(239,68,68,.5);
}

.btn-logout:active {
  transform: scale(.96);
}

@media (max-width: 768px) {

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .user {
    width: 100%;
    justify-content: space-between;
  }

}