<div class="admin-bg">
  <div class="dashboard">
    <!-- HEADER -->
    <header class="header">
      <div class="logo">
        <img class="icon" src="/jirafitas_ico.ico" />
        <div>
          <h2>Jirafita's Garaje</h2>
          <p>Panel de Administración</p>
        </div>
      </div>

      <div class="user-container">
        <div class="user-card">
          <div class="icono-perfil">
            <img src="/icons8-user-24.png" />
          </div>

          <div class="user-text">
            <h3>Rafael</h3>
            <span>Administrador</span>
          </div>
        </div>

        <button class="btn-logout" (click)="goLogin()">Salir</button>
      </div>
    </header>

    <!-- pestañas -->
    <nav class="tabs">
      <a routerLink="resumen" routerLinkActive="active">Resumen</a>
      <a routerLink="servicios" routerLinkActive="active">Servicios</a>
      <a routerLink="calendario" routerLinkActive="active">Calendario</a>
      <a routerLink="inventario" routerLinkActive="active">Inventario</a>
      <a routerLink="analisis" routerLinkActive="active">Análisis</a>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
