<section class="stats">

  <div class="card blue">
    <div class="icon"><img src="/icons8-$-24.png"></div>
    <p>Ingresos del Mes</p>
    <h3>$2500</h3>
    <span class="green">+12% vs mes anterior</span>
  </div>

  <div class="card purple">
    <div class="icon"><img src="/icons8-wrench-24.png"></div>
    <p>Servicios Activos</p>
    <h3>6</h3>
    <span>18 completados</span>
  </div>

  <div class="card orange">
    <div class="icon"><img src="/icons8-calendar-24.png"></div>
    <p>Citas Pendientes</p>
    <h3>4</h3>
    <span>Esta semana</span>
  </div>

  <div class="card green">
    <div class="icon"><img src="/icons8-user-24.png"></div>
    <p>Satisfacción</p>
    <h3>4.1</h3>
    <span>de 5.0 estrellas</span>
  </div>

</section>

<section class="charts">

  <div class="chart">
    <h3>Ingresos Mensuales</h3>
    <canvas id="lineChart"></canvas>
  </div>

  <div class="chart">
    <h3>Distribución de Servicios</h3>
    <canvas id="pieChart"></canvas>
  </div>

</section>
